.banner {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* flex布局下图片直接高度会和父元素相同，因此嵌套一层div */

.banner div {
    display: none;
    position: relative;
}

.banner div.current {
    display: block;
}

.banner div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.banner>ul {
    display: flex;
}

.banner>ul li {
    float: none;
}