div h1 {
  background: green;
  color: pink; }

.title {
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid red;
    border-top: 1px; }

.link-1 {
  border-top: 2px solid blue;
  height: 30px;
  line-height: 30px;
  font-size: 14px; }
  .link-1 a {
    color: blue;
    text-decoration: none; }
    .link-1 a:hover {
      color: red; }
