<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp"  ng-init="mySwitch=true" ng-controller="personCtrl">
    <p>
        <button ng-disabled="mySwitch">点我！</button>
    </p>
    <p ng-hide="myVar">
        <input type="checkbox" ng-model="mySwitch"/>
    </p>
    <p>
        {{mySwitch}}
    </p>
    <p ng-show="true">我是可见的</p>
    <p ng-show="false">我是不可见的</p>

    <button ng-click="count=count+1;toggle()">点我</button>
    <p>{{count}}</p>


</div>
<script>
    var app = angular.module("myApp",[]);

//    app.directive("runoobDirective",function(){
//        return {
//            template:"我在指令构造器中创建！"
//        }
//    })

    app.controller("personCtrl",function($scope){
        $scope.myVar = false;
        $scope.toggle = function(){
            $scope.myVar = !$scope.myVar;
        };
    });
</script>
</body>
</html>