<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="userCtrl">
<div class="container">
    <h3>Users</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Edit</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <button class="btn" ng-click="editUser(user.id)">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </button>
                </td>
                <td>{{user.fName}}</td>
                <td>{{user.lName}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button class="btn btn-success" ng-click="editUser('new')">
        <span class="glyphicon glyphicon-user"></span> Create New User
    </button>
    <hr>

    <h3 ng-show="edit">Create New User:</h3>
    <h3 ng-hide="edit">Edit User:</h3>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" ng-model="passw1" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Repeat:</label>
            <div class="col-sm-10">
                <input type="password" ng-model="passw2" placeholder="Repeat Password">
            </div>
        </div>

    </form>

    <hr>
    <button class="btn btn-success" ng-disabled="error || incomplete">
        <span class="glyphicon glyphicon-save"></span> Save Changes
    </button>
</div>
<script>
    angular.module('myApp', []).controller('userCtrl', function($scope) {
        $scope.fName = '';
        $scope.lName = '';
        $scope.passw1 = '';
        $scope.passw2 = '';
        $scope.users = [
            {id:1, fName:'Hege', lName:"Pege" },
            {id:2, fName:'Kim',  lName:"Pim" },
            {id:3, fName:'Sal',  lName:"Smith" },
            {id:4, fName:'Jack', lName:"Jones" },
            {id:5, fName:'John', lName:"Doe" },
            {id:6, fName:'Peter',lName:"Pan" }
        ];
        $scope.edit = true;
        $scope.error = false;
        $scope.incomplete = false;

        $scope.editUser = function(id) {
            if (id == 'new') {
                $scope.edit = true;
                $scope.incomplete = true;
                $scope.fName = '';
                $scope.lName = '';
            } else {
                $scope.edit = false;
                $scope.fName = $scope.users[id-1].fName;
                $scope.lName = $scope.users[id-1].lName;
            }
        };

        $scope.$watch('passw1',function() {$scope.test();});
        $scope.$watch('passw2',function() {$scope.test();});
        $scope.$watch('fName', function() {$scope.test();});
        $scope.$watch('lName', function() {$scope.test();});

        $scope.test = function() {
            if ($scope.passw1 !== $scope.passw2) {
                $scope.error = true;
            } else {
                $scope.error = false;
            }
            $scope.incomplete = false;
            if ($scope.edit && (!$scope.fName.length ||
                    !$scope.lName.length ||
                    !$scope.passw1.length || !$scope.passw2.length)) {
                $scope.incomplete = true;
            }
        };

    });
</script>


<!--<div ng-app="myApp" ng-controller="myCtrl">-->
    <!--<p>{{x1}}</p>-->
    <!--<p>{{x2}}</p>-->
<!--</div>-->

<!--<script>-->
    <!--var app = angular.module('myApp',[]);-->
    <!--app.controller('myCtrl',function($scope){-->
        <!--$scope.x1 = "JOHN";-->
        <!--$scope.x2 = angular.lowercase($scope.x1);-->
    <!--});-->
<!--</script>-->


<!--<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>-->
    <!--<p>-->
        <!--用户名：<br>-->
        <!--<input type="text" name="user" ng-model="user" required>-->
        <!--<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">-->
            <!--<span ng-show="myForm.user.$error.required">用户名是必须的</span>-->
        <!--</span>-->
    <!--</p>-->

    <!--<p>-->
        <!--邮箱：<br>-->
        <!--<input type="text" name="email" ng-model="email" required>-->
        <!--<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">-->
            <!--<span ng-show="myForm.email.$error.required">邮箱是必须的</span>-->
            <!--<span ng-show="myForm.email.$error.email">非法的邮箱</span>-->
        <!--</span>-->
    <!--</p>-->
    <!--<p>-->
       <!--<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">-->
    <!--</p>-->

<!--</form>-->
<!--<script>-->
    <!--var app = angular.module('myApp',[]);-->
    <!--app.controller('validateCtrl',function($scope){-->
        <!--$scope.user = 'John Doe';-->
        <!--$scope.email = "john.doe@gmail.com";-->
    <!--});-->

<!--</script>-->
</body>
</html>