div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 1s linear;
}

p {
    width: 100px;
    height: 100px;
}

h1 {
    color: red;
}

.header h1 {
    color: green;
}