html
    head
        meta(charset='utf-8')
        title
    body
        -for(var i=0;i<12;i++)
            if i%4==0
                div.abc 我是4能余出来的
            else
                div 我是余不出来的
       
        
        