html
    head
        meta(charset='utf-8')
        title
        script
            |window.onload=function(){
            |console.log(1);
            |}
    body
        div
            |aaaaa
            |bbbb