html {
    font-size: 14px;
}

@media screen and (min-width:300px) {
    html {
        font-size: 250%;
    }
}

@media screen and (min-width: 320px) {
    html {
        font-size: 266.66667%;
    }
}

@media screen and (min-width: 340px) {
    html {
        font-size: 283.33333%;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 300%;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 312.5%;
    }
}

@media screen and (min-width: 380px) {
    html {
        font-size: 316.66667%;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 333.33333%;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 345%;
    }
}

@media screen and (min-width: 440px) {
    html {
        font-size: 366.66667%;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 400%;
    }
}

@media screen and (min-width: 560px) {
    html {
        font-size: 466.66667%;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 533.33333%;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 600%;
    }
}