doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style.
           ol li{float:left;margin:30px;list-style:none;}
           .active{color:red;} 
    body
        ul
            -for(var i=0;i < listArr.length;i++)
                li=listArr[i]
        ol
            -for(var i=0;i<maxl;i++)
                li
                    if(i==index-1)
                        a.active(href="http://localhost:8020/list?page="+(i+1))=i+1
                    else
                        a(href="http://localhost:8020/list?page="+(i+1))=i+1
