html
    head
        meta(charset="utf-8")
        title
        link(rel="stylesheet",type="text/css",href="1.css")
    body
        div(data='myself',id='c',name='fff',class='a b') 今天天气不错
        ul
            li
        script alert(1);