html
    head
        meta(charset="utf-8")
        title
        style div{width:200px;height:200px;background:red;transition0.7s}div:hover{background:green;}
    body
       div
       ul
        li 今天学习的不错感觉
        li 明天也继续努力
        li 马上就考试了
        li 周末有事干了