@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
input,textarea{
    border: none;
    background-color: transparent;
    outline: none;
}
textarea{
    resize: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
