
.g-nav{
	height: 90px;
	background-color: #ccc;
}
.g-banner{
	width: 100%;
	height: 250px;
	text-align: center;
	background: url('../..//res/images/list_banner.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%; 
}

.g-body{
	margin: 0 auto;
	overflow: visible;
	background:#eeeeee;
	width:100%;
	
}

.g-profile{
	height: 216px;
	background-color: white;
	margin:0 auto;
	margin-top: -115px;
	text-align: center;
	padding-top: 28px;
	width: 850px;
	
}

.u-info{
	padding:5px 0;
}

.u-info .name{
	font-weight: bold;
	font-size:18px;
}

.g-main{
	height: 600px;
	position: relative;
	float: none;
	width: auto;
	
	width: 850px;
	margin: 0 auto;
	background:white;
}

.u-avatar{
	height: 111px;
	background: no-repeat 50%;
	
}

.g-warp{
	border-top: 1px solid #e2e3e3;
	margin:0 10px;
	padding:35px;
}

.m-aside{
	width: 100px;
	height: 276px;
	position: absolute;
	left: -100px;
	background:#fdfdfd;
	border-radius: 5px 0 0 5px ;
	text-align: center;
	z-index: 1;
}
.m-aside li{
	height:46px;
	line-height:46px;
	color:#5ed0ba;
	font-size: 12px;
	position: relative;
	cursor: pointer;
}
.m-aside li.active,.m-aside li:hover{
	color: white;
	background:#5ed0ba;
}

.m-aside .red_cri{
	position: absolute;
	border-radius: 50%;
	background:red;
	right:10px;
	top:10px;
	width:8px;
	height:8px;
}

.m-works{
	display: flex;
	flex-wrap: wrap;
	margin-right: -28px;
	margin-left: 3px;
}
.m-works .item{
	position: relative;
	width: 110px;
	height: 166px;
	box-sizing: border-box;
	border: 1px solid #d3d4d4;
	background-color: #fff;
	margin-right: 25px;
	margin-bottom: 10px;
}
.m-works .item a{
	display: block;
	width: 110px;
	height: 166px;
}

.m-works .item a:before{
	positon: absolute;
	top: 2px;
	right: 2px;
	bottom: -4px;
	left: -4px;
	border: 1px solid #d7d7d7;
	background-color: #c5c6c6;
	content: "";
}
.m-works .item h3{
	position: absolute;
	right: 6px;
	bottom: -6px;
	left: -6px;
	height: 30px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, .8);
	text-align: center;
}
.m-works .item img{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: -7px;
	left: -7px;
	width: 110px;
	height: 166px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-top: none;
	border-right: none;
}

.m-pagination li{
	float: left;
	padding: 0 14px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
	color: #5eccb6;
}
.m-pagination .disabled{
	cursor: not-allowed;
	color:  #ccc;
}
.m-pagination .active{
	background: url(pagination_active.png) no-repeat 50% 50%;
	color: #fff;
}


.u-icon-address{
	background-image: url('../../res/images/u-address.png');
	width: 12px;height: 16px;display:inline-block;margin-left:10px;
	
}
