doctype
html
    head
        meta(charset='utf-8')
        title
        style.
            p{font-size:30px;text-align:center;}
    body
        p=arr[0].textName
        span=arr[0].user +" "+ arr[0].time
        div=arr[0].inner