.banner {
    display: flex;
    justify-content: center;
}

/* flex布局下图片直接高度会和父元素相同，因此嵌套一层div */

.banner div {
    display: none;
    position: relative;
}

.banner div.current {
    display: block;
}

/* 下方点导航也使用flex布局 */

.banner>ul {
    display: flex;
}

.banner>ul li {
    float: none;
}