doctype
html
    head
        meta(charset='utf-8')
        title
        style.
            ul,ol{width:100%;float:left;}
            ul li {float:left;margin:20px;list-style:none;}
            .d{
                display:none;
            }
    body
        -var arr = ['用户','文章','新闻'],link=['user','list','news']
        ul
            -for(var i=0;i<arr.length;i++)
                li
                    a(href="http://localhost:2138/"+link[i])=arr[i]
        ol
            -for(var i=0;i<DataArr.length;i++)
                li=DataArr[i]

        ul
            -if(page==0)
                li.d
                    a(href="http://localhost:2138/"+linkNode+"?page="+(page<=10?0:page)) 上一页
            -else
                li
                    a(href="http://localhost:2138/"+linkNode+"?page="+(page<=10?0:page)) 上一页
            -for(var i=0;i<maxL;i++)
                li
                    a(href="http://localhost:2138/"+linkNode+"?page="+(i))=i+1
            -if(page==maxL-1)
                li.d
                    a(href="http://localhost:2138/"+linkNode+"?page="+(page>= (maxL-1)?(maxL-1):(parseInt(page)+1))) 下一页
            -else
                li
                    a(href="http://localhost:2138/"+linkNode+"?page="+(page>= (maxL-1)?(maxL-1):(parseInt(page)+1))) 下一页