<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>网易云课堂</h1>
    <button id="btn">向小程序发送消息</button>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>