<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="content">
    <button @click="addTodo">添加</button>
    <button @click="broadcast">广播</button>
    <child-todo name="one"></child-todo>
    <child-todo name="two"></child-todo>
    <ul>
        <li v-for="value in todo">
            {{value}}
        </li>
    </ul>
</div>
<script type="text/javascript">
    Vue.component('child-todo',{
        props:['name'],
        data:function(){
            return {
                content:''
            }
        },
        template:'<div>Child {{name}} <input type="text" v-model="content"/><button @click="add">添加</button></div>',
        methods:{
            add:function(){
                this.$dispatch('add','Child '+this.name+': '+this.content);
                this.content = '';
            }
        },
        events:{
            'to-child':function(msg){
                this.$dispatch('add','Child '+this.name+': '+msg);
            }
        }
    });

    var vm = new Vue({
        el:'#app',
        data:{
            todo:[],
            content:''
        },
        methods:{
            addTodo:function(){
                this.$emit('add','Parent: '+this.content);
                this.content = '';
            },
            broadcast:function(){
                this.$broadcast('to-child',this.content);
                this.content = '';
            }
        },
        events:{
            'add':function(msg){
                this.todo.push(msg);
            }
        }
    });
</script>
</body>
</html>